@import url('https://fonts.googleapis.com/css?family=Amarante');

body {
  font-family: 'Amarante';
  margin: 0px;
}

.nav-bar {
  height: 100px;
  width: 100%;
  background-color: #092729;
}

.nav-bar span {
  float: left;
  color: rgb(255,255,255);
  font-size: 20px;
  margin: 0px 40px;
}

.nav-bar ul {
  float: right;
  margin-top: 40px;
}

.nav-bar li {
  display: inline;
  margin: 20px
}

.nav-bar li:nth-child(3) {
  margin-right: 10px;
}

.nav-bar a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  border: 1px solid rgba(255,255,255,.5);
  padding: 8px 15px;
  transition: all 200ms ease;
}

.nav-bar a:hover {
  background-color: rgba(255,255,255,.4);
  
}