<div class="container">
    <div class="card-1">
        <app-card title="Temperatura" img_front="assets\\temperatura_front.png" img_back="assets\\temperatura_back.png" sensor="RXJ-100" route="temperatura"></app-card>
    </div>
    <div class="card-2">
        <app-card title="Humedad" img_front="assets\\humedad_front.png" img_back="assets\\humedad_back.png" sensor="MM245" route="humedad"></app-card>
    </div>
    <div class="card-3">
        <app-card title="CO2" img_front="assets\\co2_front.png" img_back="assets\\co2_back.png" sensor="TJY-965" route="co2"></app-card>
    </div>
</div>
